.stats {
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
}

.stats > * + * {
    margin-left: 32px;
    padding-left: 32px;
    border-left: 1px solid var(--border);
}

@media (max-width: 768px) {
    .stats {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }

    .stats > * + * {
        margin-left: 0;
        padding-left: 0;
        border-left: none;
    }

    .stats > :nth-child(even) {
        margin-left: 28px;
        padding-left: 28px;
        border-left: 1px solid var(--border);
    }

    .stats > :last-child:nth-child(odd) {
        grid-column: 1 / -1;
        justify-self: center;
    }
}
