.wrapper {
    display: flex;
    align-items: stretch;
}

.left,
.right {
    flex: 1;
}

.image {
    height: 100%;
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }

    .button {
        width: 100%;
    }

    .right {
        margin-inline: -16px;
    }
}
